<div class="show_item">
  <strong>Title:</strong>
  <span><%= @book.title %></span>
</div>

<div class="show_item">
  <strong>Body:</strong>
  <span><%= @book.body %></span>
</div>

<span><%= link_to "Edit", edit_book_path(@book.id) %></span>

<spna> | </spna>

<span><%= link_to "Back", '/books' %></span>